* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgb(242, 69, 7);
  color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.My-logo {
  width: auto;
  height: 90%;
  padding-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-item {
  border-radius: 0.5rem;
  background-color: rgb(240, 69, 7);
  transition: 1s;
}

.nav-item-link {
  font-weight: 300;
  color: black;
  margin: 0 1rem;
  transition: 1s;
  border-radius: 0.5rem;
}

.nav-item-link:hover {
  background-color: white;
}

.banner {
  padding-top: 80px;
  padding-bottom: 20px;
  border-bottom: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  text-align: center;
}

.photo1 {
  margin-top: 100px;
  margin-left: 70px;
  width: 400px;
  height: 401px;
  position: relative;
  right: 100px;
}

.photo1 {
  margin-left: 250px;
}

h2 {
  text-align: center;
}

.paragraph1 {
  display: flex;
  align-items: center;
}
.paragraph1 section {
  padding-right: 50px;
  font-size: 30px;
}

.paragraph2 {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.paragraph2 section {
  font-size: 30px;
  padding: 0px 50px 0px 50px;
}

.photo2 {
  margin-left: 150px;
  height: 401px;
  width: 400px;
  padding-right: 50px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(242, 69, 7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.logo {
  width: auto;
  height: 90%;
  padding-left: 10px;
  padding-top: 5px;
}

ul li {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .photo {
    display: none;
  }
  .paragraph1 {
    flex-direction: column;
    width: 100%;
  }
  .paragraph2 {
    flex-direction: column;
    width: 100%;
  }
  .logo {
    display: none;
  }
}
